<%= bootstrap_form_for @author, class: "form-horizontal" do |f| %>
  
  <% if @author.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4><%= pluralize(@author.errors.count, "error") %> <%= t('.error_msg')%></h4>

    <ul>
    <% @author.errors.full_messages.each do |message| %>
      <li class="lsterror"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label t('.name'), class: 'control-label'%>
    <%= f.text_field :name, placeholder: t('.name_placeholder'), hide_label: true%>
  </div>
  <div class="field">
    <%= f.label t('.email'), class: 'control-label'%>
    <%= f.text_field :email, placeholder: t('.email_placeholder'), hide_label: true %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %> 
    <%= link_to authors_path, class: 'btn btn-default btn-md' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('.back')%>
    <% end %>
  </div>  
<% end %>
