<div class="panel panel-primary listAuthor">
  <div class="panel-heading">
    <%= t('.list_author')%>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover authorTable display" data-source="<%= authors_url(format: "json") %>">
      <thead>
        <tr>
          <th><%= t('.name')%></th>
          <th><%= t('.email')%></th>
          <% if current_user.has_role? :admin %>
            <th><%= t('.edit')%></th>
            <th><%= t('.delete')%></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% if current_user.has_role? :admin %>
      <%= link_to new_author_path, class: 'btn btn-primary btn-md' do %>
      <span class="glyphicon glyphicon-plus"></span> <span id="new_author"><%= t('.new_author')%></span>
      <% end %>
    <% end %>
  </div>
</div>

<% if current_user.has_role? :admin %>
  <script>
    $(".authorTable").dataTable({
      info: false,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('.authorTable').data('source'),
      bLengthChange: false,
      aaSorting: [[0, 'asc']],
      aoColumns: [
          null,
          { "sWidth": "50%" },
          { "sWidth": "8%", "sClass": "alignCenter", "bSortable": false },
          { "sWidth": "8%", "sClass": "alignCenter", "bSortable": false }
        ]
    });
  </script>
<% else %>
  <script>
    $(".authorTable").dataTable({
      info: false,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('.authorTable').data('source'),
      bLengthChange: false,
      aaSorting: [[0, 'asc']],
      aoColumns: [
          null,
          { "sWidth": "50%" }
        ]
    });
  </script>
<% end %>