<div class="sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav">
    <li class="<%= 'active' if params[:controller] == 'books' %>">
      <%= link_to t('.home'), books_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'authors' %>">
      <%= link_to t('.authors'), authors_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'categories' %>">
      <%= link_to t('.categories'), categories_path %>
    </li>
  </ul>
</div>