<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">			
	      <%= link_to books_path, :class => 'navbar-brand' do %>
	      	<span class="glyphicon glyphicon-home"></span> <%= t('.book_manager')%>
	      <% end %>
		</div>
		<div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? %>
	      		<li id="msgLogin"><%= t('.login_as')%> <strong><%= current_user.email %></strong></li>
				<li><%= link_to t('.edit_profile'), edit_user_registration_path %></li>
				<li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
	      	<% else %>
				<li><%= link_to t('.login'), new_user_session_path %></li>
				<li><%= link_to t('.sign_up'), new_user_registration_path %></li>
	      	<% end %>
	      </ul>
	      <div class="nav navbar-nav flag">
	      	<%= link_to image_tag("en.png", :border => 0, size: "24x24"), locale: "en"%>
	      	<%= link_to image_tag("vi.png", :border => 0, size: "24x24"), locale: "vi"%>
	      </div>
	    </div>
	</div>
</nav>