<div class="panel panel-primary listBook">
  <div class="panel-heading">
    Listing Books
  </div>
  <div class="panel-body">
    <%= render 'shared/search' %>
    <%= form_tag destroy_multiple_books_path , :method => :delete do %>
    <%= render 'shared/action_button' %>
    <table class="table table-striped table-hover table-responsive table-bordered bookTable">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Year</th>
          <th>Category</th>
          <th>Select</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= book.author.name %></td>
          <td>
            <div class="dropdown">
              <%= link_to book, class: "bookName dropdown-toggle", "data-toggle" => "dropdown", "data-placement" => "bottom" do %>
                <%= book.title %>
              <% end %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <%= link_to 'Edit', edit_book_path(book), tabindex: -1, role: 'menuitem' %>
                </li>
                <li role="presentation">
                  <%= link_to 'View Details', book, tabindex: -1, role: 'menuitem' %>
                </li>
                </li>
              </ul>
            </div>
          </td>
          <td><%= book.year %></td>
          <td><%= book.category.name %></td>
          <td><%= check_box_tag 'book_ids[]', book.id, false, class: 'chxBook' %></td>
          <td>
            <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", "data-placement" => "bottom", remote: true, class: 'delete_book'  do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
  </div>
</div>
