<div class="panel panel-primary listCategory">
  <div class="panel-heading">
    <%= t('.list_categories')%>
  </div>
  <div class="panel-body">    
    <table class="table table-striped table-hover categoryTable display" data-source="<%= categories_url(format: "json") %>">
      <thead>
        <tr>
          <th><%= t('.name')%></th>
          <th><%= t('.edit')%></th>
          <th><%= t('.delete')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% if current_user.has_role? :admin %>
      <%= link_to new_category_path, class: 'btn btn-primary btn-md' do %>
        <span class="glyphicon glyphicon-plus"></span> <span id="new_category"><%= t('.new_category')%></span>
      <% end %>
    <% end %>
  </div>
</div>