<!DOCTYPE html>
<html>
<head>
  <title>BooksManager</title>
  <%= stylesheet_link_tag    'application', 'main', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navigation' %>
	<% if user_signed_in? %>
	<div id="main-container" class="container" >
		<div class="row">
			<div class="col-xs-11">
				<% flash.each do |name, msg|%>
					<%= content_tag :div, msg, class: "#{flash_class(name)}" %>
				<% end %>	
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Menu
						</div>
						<div class="panel-body">
							<%= render 'shared/menu' %>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
	<% else %>
		<%= yield %>
	<% end %>	
  <%= render 'shared/footer' %>
</body>
</html>
